{#
/**
 * @file
 * Theme override to display the showcase overlay.
 *
 * @see templates/layout/page.html.twig for a full list of available variables.
 * @see templates/layout/partials/_showcase.html.twig
 * @see templates/layout/partials/_showcase_front.html.twig
 */
#}
<div class="tw-image-overlay tw-absolute tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-z-20"
  {% if showcase_overlay_type == 'overlay-dark' %}
    style="background: rgba(0, 0, 0, 0.4);"
  {% elseif showcase_overlay_type == 'overlay-dark-gradient' %}
    style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));"
  {% elseif showcase_overlay_type == 'overlay-light' %}
    style="background: rgba(255, 255, 255, 0.4);"
  {% elseif showcase_overlay_type == 'overlay-light-gradient' %}
    style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));"
  {% endif %}
>
</div>