{#
/**
 * @file
 * Theme override to display the breadcrumb of a single page.
 *
 * @see templates/layout/page.html.twig for a full list of available variables.
 */
#}

<!--Breadcrumb-->
<section class="tw-w-full tw-bg-white dark:tw-bg-slate-800 tw-px-4 tw-py-5">
  <div class="{{ container_size }} tw-px-4 tw-py-5">
    <!--Breadcrumb-->
    {# <div class="md:tw-flex-1 tw-py-4"> #}
      {{ page.breadcrumb }}
    {# </div> #}
  </div>
</section>
